<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<a href="/login">Войти</a>
{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <button type="submit">Register!</button>
{{ form_end(form) }}
</body>
</html>
